@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

body {
    color: #414141;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 60px;
    overflow-x: hidden;
}


.navbar {
    background: #ffffff;    
    height: 70px;
    padding: 17px 0 15px;
}

.navbar-brand {
    padding: 0 15px; 
    margin-right: 20px;
}

.button-container {    
}

a {
    color: #c80700;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.white-bg {
    background: #ffffff;
}

.grey-bg {
    background: #f6f6f6;
}

.orange-bg {
    background: #f9792e;
    color: #ffffff;
}

.orange-bg a {
    color: #ffffff;
}

.color-orange {
    color: #e38346;
}

.color-grey {
    color: #999999;
}
#navbar ul.nav li {

}

#navbar ul.nav .active {
    
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav #search-button {
    background: none;
    border: none;
    padding: 9px;
}

#navbar ul.nav .active a {
    background: none;
    color: #000000;
}

#navbar ul.nav a {
    color: #000000;
}

.hero-section {
    margin-top: -20px;    
    max-height: 550px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.hero-container {
    max-height: 550px;
}

.hero-container .flex-control-nav {
    bottom: 30px;
    z-index: 100;
}

.hero-item {
    position: relative;
}

.hero-description-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.hero-description-container .inner {
    padding-top: 170px;
}

section .hero-description-container h2 {
    color: #ffffff; 
    font-weight: normal;
    font-size: 42px;
    margin-bottom: 50px;
}

section .hero-description-container h2 span {
    color: #e38346;
}

h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 20px;
}

h1 span {
    font-weight: bold;
}


h2 {        
    font-size: 18px;
    font-weight: normal;    
}

section,
.row-big {
    padding: 30px 0;
}

section h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4em;
    margin: 0 0 15px;
}

section h3 {
    line-height: 1.4em;
}

section h3.subheading {
    font-size: 15px;
    line-height: 1.6em;
    margin: 0 0 15px;
}

.button-white {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    font-weight: normal;
    height: 35px;
    line-height: 34px;
    padding: 0 25px;
    transition: all 0.2s ease 0s;
}

.button-white:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #e38346;
}

.button-orange {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e38346;
    color: #000000;
    display: inline-block;
    font-weight: normal;
    height: 35px;
    line-height: 34px;
    padding: 0 25px;
    transition: all 0.2s ease 0s;
}

.about-section {
    color: #666666;
}

.services-section h3 {
    margin-bottom: 20px;
}


.services-section img {
    margin: 30px 0;
}

.services-section h4 {
    margin-bottom: 20px;
}

.button-view-all-container {
    margin-top: 20px;
}

.above-footer-section button {
    margin: 20px 0;
}

p.bigger {
    font-size: 16px;
}

.above-footer-section a {
    color: #ffffff;
}

.blog-item {
    border-radius: 6px;
    box-shadow: 0 0 8px #000000;
    overflow: hidden;
    padding: 20px;    
    margin: 0 25px;         
}

.blog-item .image-container {
    margin: -20px -20px 15px;
}

.blog-category,
.blog-poster {
    font-size: 14px;
    margin-bottom: 2px;
}

.blog-snippet {
    min-height: 140px;
}

.blog-footer .left {
    float: left;
}

.blog-footer .right {
    float: right;
}

.blog-footer .read-more {
    border-bottom: 1px solid #c39980;
    color: #000000;
    display: inline-block;
    font-size: 12px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.blog-icon {
    display: inline-block;
    height: 19px;
    margin-left: 5px;
    text-indent: -9999px;
    width: 17px;
}

.blog-icon.comment {
    background: transparent url(../images/icon-baloon.png) 0 0 no-repeat;
} 

.blog-icon.like {
    background: transparent url(../images/icon-heart.png) 0 0 no-repeat;
}

.slideshow-blog-container .flex-viewport {
    margin-top: 50px;
    padding: 10px;
}

.slideshow-blog-container .flex-control-nav {
    bottom: inherit;
    top: 10px;
}

.flex-control-nav li {
    margin: 0 4px;
}

.flex-control-paging li a {
    background: #ffffff;
    border: 1px solid #cfcdd0;
    border-radius: 50%;
    height: 10px;
    width: 10px;   
}

.flex-control-paging li a.flex-active {
    background: #fa782c;
    border-color: #db916c;
    cursor: default;
}
/*****************************
FOOTER
******************************/

.footer a {
    
}
.row-narrow {
    padding: 10px 0 0;
}
@media all and (max-width: 767px) {
    
}
    
@media all and (min-width:768px) and (max-width: 1200px) {
    
}

@media all and (max-width: 767px) {
    
    #navbar {
        background: #ffffff none repeat scroll 0 0;
        border-bottom: 1px solid;
        float: none!important;        
        text-align: center;
        position: relative;
    }

    #navbar .navbar-nav {
        font-size: 16px;
    }    
    
    #navbar .button-container {
        float: none !important;
        margin: 0 0 15px;
    }
    
    h1 {
        font-size: 24px;
    }

    h3.product-heading {        
        font-size: 24px;
        margin: 0 0 20px;
    }

    section h2 {
        font-size: 20px;
    }
    .h3, h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    .footer  .col-sm-6 {
        margin-bottom: 10px;
    }

    .footer, .footer .text-right {
        text-align: center!important;
    }
    
}

@media all and (max-width: 480px) {
 
}